<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Page title -->
    <title>Assignment Page</title>
  
    <!-- Applying fonts -->
    <!-- Fonts taken from the following resource: https://fonts.google.com/share?selection.family=Merriweather -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet"> 
    
    <!-- HTML CSS -->
    <link href="css/site.css" rel="stylesheet" type="text/css">

    <!-- Vue.js script-->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
 
  <body>

    <!-- Resource used to create sidebar: https://mdbootstrap.com/docs/standard/extended/side-navbar/ -->
    <header>
        <!-- Sidebar -->
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
                <div class="list-group list-group-flush mx-3 mt-4">

                <!-- Index page -->
                <a href="index.html" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                    </svg>
                    
                    <span>Home</span>
                </a>

                <!-- Games page -->
                <a href="game.html" class="list-group-item list-group-item-action py-2 ripple">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal" viewBox="0 0 16 16">
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
                    </svg>

                    <span>Games</span>
                </a>

                <!-- Assignments -->
                <a href="assignment.html" class="list-group-item list-group-item-action py-2 ripple">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                    </svg>
                    
                    <span>Assignments</span>
                </a>

                <!-- Referee -->
                <a href="referee.html" class="list-group-item list-group-item-action py-2 ripple">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </svg>
                    
                    <span>Referee</span>
                </a>

                <!-- Referee assignment -->
                <a href="refereeAssignment.html" class="list-group-item list-group-item-action py-2 ripple">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                        <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                    </svg>
                    
                    <span>Ref. Assignment</span>
                </a>

                <!-- Reports -->
                <a href="report.html" class="list-group-item list-group-item-action py-2 ripple active">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-data" viewBox="0 0 16 16">
                        <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"/>
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
                    </svg>
                    
                    <span>Reports</span>
                </a>
                
                </div>
            </div>
        </nav>

        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg fixed-top shadow-sm">
            <!-- Container wrapper -->
            <div class="container-fluid">
                
                <!-- Toggle button -->
                <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <i class="fas fa-bars"></i>
                </button>

                <!-- Brand -->
                <a class="navbar-brand" href="index.html">
                <span class="iconify" data-icon="noto:soccer-ball"></span>
                </a>

            </div>
        </nav>
    </header>

    <!--Main layout-->
    <main>
        <div class="container pt-4" id="reportDateRangeApp">

        <!-- Table card -->
        <!-- Table card was made with support of the following resource: https://bbbootstrap.com/snippets/bootstrap-5-user-social-profile-transition-effect-79746232 -->
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">
                    <div class="card content_card p-3 py-4">
                        <div class="text-center">
                            <h1 class="mt-2 mb-0">Date Range Report</h1> 
                            <h6>A report that lists all games assigned to a referee in a given date range</h6>
                        </div>

                        <!-- Table information -->
                        <table class="table table-striped" id="data_table">
                            <thead>
                                <tr>
                                    <th scope="col">Game Title</th>
                                    <th scope="col">Field</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Level</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="game in games">
                                    <td>{{game.title}}</td>
                                    <td>{{game.field}}</td>
                                    <td>{{game.date}}</td>
                                    <td>{{game.time}}</td>
                                    <td>{{game.level}}</td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Report form -->
                        <div class="d-flex row">
                            <div class="col-4">
                                <h3 class="text-center form_text">Download Report For Specified Dates</h3>
                            </div>

                            <div class="col-8 data_form">
                                <form v-on:submit.prevent="postGame" class="needs-validation">
                                    <!-- Referee -->
                                    <div class="form-group row">
                                        <label class="col-4" for="referee_id">Referee</label>
                                        <select class="col-8 mb-3" class="form-control form-control-sm" v-model="gameForm.referee_id" id="referee_id" required="required">
                                            <option v-for="r in referees" :value="r.referee_id">{{r.first_name}} {{r.last_name}}</option> 
                                        </select>
                                    </div>

                                    <!-- Date parameters -->
                                    <div class="from-group row">
                                        <div class="col-6 mb-3">
                                            <label for="minDate">Minimum Date Range</label>
                                            <input type="date" class="form-control form-control-sm" v-model="gameForm.minDate" id="minDate" required="required"> 
                                        </div>
                                        <div class="col-6 mb-3">
                                            <label for="maxDate">Maximum Date Range</label>
                                            <input type="date" class="form-control form-control-sm" v-model="gameForm.maxDate" id="maxDate" required="required">
                                        </div>
                                    </div>
                                    
                                    <!-- Submit button -->
                                    <div class="text-center">                                  
                                        <a class="btn btn-primary" role="button" v-bind:href="'/api/reportDateRange/?referee_id=' + gameForm.referee_id + '&minDate=' + gameForm.minDate + '&maxDate=' + gameForm.maxDate + '&format=csv'" download>Export as CSV</a>
                                    </div>
                                
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Closing main container -->
        </div>
    </main>

    <!-- JavaScript -->
    <!-- Bundle Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <!-- JS for icons -->
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>

    <!-- Table sort JS -->
    <!-- Table sort JS made possible with the following resource: http://tristen.ca/tablesort/demo/ -->
    <script src="js/tablesort.min.js"></script>
    <script>
        new Tablesort(document.getElementById("data_table"));
    </script>

    <script src="js/reportDateRange.js"></script>
  </body>
</html>